.container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 2vw;
    margin-bottom: 2vh;
    width: clamp(200px, 20vw, 20vw);
    height: clamp(180px,  15vh,  15vh);
    border-bottom: 1px solid black;
    font-size: calc(8px + 0.4vw);
    padding: 1vw;
    margin-right: 1vw;

}
.innerDiv{
    display: flex;
    flex-direction: column;
    gap: 0.4vh;

}
.title{
    font-family: 'Cinzel', serif;
    text-decoration: underline;
    font-size: calc(10px + 0.3vw);
    margin-bottom :2vh ;
}
