.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 4vh;
    padding-top: 2vh;
    width: clamp(350px, 70vw, 90vw);
    height: auto;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px;
    font-family: 'Cinzel', serif;
    font-size: calc(10px + 0.4vw);
    background-color: rgb(226, 226, 226);
  
}
.text{
    margin-top: 6vh;
    margin-bottom: 2vh;
    text-align: center;
    font-size: calc(10px + 0.4vw);
    font-family: 'Cinzel', serif;
}
.textAndPicWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.textArea{ 
    width: clamp(300px, 35vw, 40vw);
    height: 35vh;
}
.fileUpload{
   width: clamp(180px, 10vw, 20vw);
   margin-top: 2vh;
}
.input{
    width: clamp(200px, 30vw, 60vw);

}
.label{
    font-family: 'Cinzel', serif;
    font-size: calc(10px + 0.4vw);
    margin-top: 3vh;
}
.outerDivConfirm{
    cursor: pointer;
    position: absolute;
    width: 0vw;
    height: 100vh;
   
}
.divConfirm{
    margin: 0 auto;
    margin-top: 10vh;
    text-align: center;
    padding-top: 5vh;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px;
    background-color: rgb(255, 255, 255);   
    font-family: 'Cinzel', serif;
    font-size: calc(15px + 0.4vw);
    width: clamp(350px, 50vw, 60vw);
    height: 15vh;
}
.useMail{
    margin-top: 1vh;
    margin-bottom: 1vh;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
   
}