.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 70vh;
    width: 100vw;
    height: 15vh;
    background-color: rgb(226, 226, 226);
    border-top: 1px solid black;
}
.divOne{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    text-align: center;
    width: auto;
}
.divTwo{
    font-size: calc(6px + 0.4vw);
    display: flex;
    flex-direction: row;
    gap: 4vw;
    width: auto;
    text-decoration: underline;
}
.divThree{
    width: auto;
}
.title{
    margin-left: 2vw;
    font-size: calc(8px + 0.7vw);
    text-decoration: underline teal 1px;
    font-family: 'Cinzel', serif;
    color: black;
}
.subScribeForm{
    font-size: calc(8px + 0.7vw);
    font-family: 'Cinzel', serif;
    width: clamp(100px, 20vw, 200px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
}
.input{
    font-size: calc(12px + 0.2vw);
    margin-top: 0.5vh;
    width: clamp(100px, 10vw, 300px);
}
.confirmSubscribe{
    position: absolute;
    right: 5vw;
    top: 60vh;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2vw;
    box-shadow: 5px 5px 5px;
    font-family: 'Cinzel', serif;
    cursor: pointer;
    background-color: rgb(226, 226, 226);
}
.mail{
  font-weight: bold;
  font-family:'Times New Roman', Times, serif;
}
.subscribeTitle{
    text-decoration: underline 1px teal;
}
.copy{
    margin-top: 2vh;
    text-align: center;
    font-size: calc(8px + 0.4vw);
}
.link{
    text-decoration: none;
}