*{
margin: 0;
padding: 0;
}
button{
    font-size: calc(10px + 0.2vw) ;
    height: auto;
    box-shadow: 0px 0px 0px;
    background-color: rgb(78, 61, 61);
    color: rgb(244, 242, 242);
    text-align: center;
    padding: 0.5vw;   
    margin-top: 1.3vh;
    align-self: auto;
    border: solid 3px rgb(176, 174, 174);
    cursor: pointer;
    width: clamp(80px, 5vw, 100px);
    align-self: center;
    border-radius: 10px;
}
button:hover{
    background-color: rgb(118, 86, 86);
    border: solid 3px rgb(248, 242, 225);
}
h4{
    margin-top: 1vh;
    margin-bottom: 2vh;
    font-size: calc(10px + 0.4vw);
    text-decoration: underline teal 1px;
    font-family: 'Cinzel', serif;
    color: black;
    text-align: center;
}
.arrowUp{
    position: sticky;
    top: 85vh;
    left: 95vw;
    width: calc(50px + 0.5vw);
    cursor: pointer;
}
