.container{
    margin-top: 0vh;
    margin-left: 2vw;
    width: auto;
    /* border: 1px solid black; */
    border-radius: 2px;
    padding: 2vw;
    cursor: pointer;
    justify-self: center;
}
.img{
    width: clamp(100px, 25vw, 25vw);
}
.text{
    font-size: calc(10px + 0.3vw);
}